.dz{
	display: flex;
	align-items: center;/* 上下居中 */
	justify-content: center;/* 左右居中 */
	min-height: 100vh;/* 高度居中 */
	background: cornflowerblue;/* 背景颜色 */
	
	
}
h1{
	position: relative;
	font-size: 6em;
	letter-spacing: 5px;
	color: green;
	text-align: center;
	-webkit-box-reflect:below 1px linear-gradient(transparent, #0008);
	line-height: 0.7em;
	outline: none;
	animation: animate 5s linear infinite;
}
@KEYFRAMES animate{
	
	0%{
		color: aquamarine;
	}
	100%{
		color: #70ff9d;
		text-shadow: 0 0 10px  ;
	}
}
.tpdiv1{
	background-color: #008000;
	top: auto;
}